@media (min-width: 1281px) {
    /* PC */

}

@media (min-width: 1024px) and (max-width:1280px) {
    /* laptop */

}

@media (min-width: 768px) and (max-width: 1023px) {
    /* tablet */


}

@media (min-width: 481px) and (max-width:767px) {
    /* phone big */


}

@media (min-width: 320px) and (max-width:480px) {
    /* phone */

    header {
        background-color: #5c3a6d;
        width: 100%;
        padding: 10px;
    }

    .ul {
        width: initial;
    }


    .ul li {
        display: none;

    }

    #xxx {
        border: none;
        outline: none;
        font-size: 20px;
        background-color: #734a88;
        appearance: none;
        color: aliceblue;
        border-radius: 40%;
        padding: 10px;
    }

    .logo img {
        width: 100px;
        margin-left: 10px;

    }

    .imgsss {
        display: flex;
        flex-direction: row;
        overflow: hidden;
width: 100%;
    }


    .imgsss img {
        width: 90%;
        margin: 0;
    }



}