@media (min-width: 1281px) {
    /* PC */

}

@media (min-width: 1024px) and (max-width:1280px) {
    /* laptop */

}

@media (min-width: 768px) and (max-width: 1023px) {
    /* tablet */


}

@media (min-width: 481px) and (max-width:767px) {
    /* phone big */


}

@media (min-width: 320px) and (max-width:480px) {
    /* phone */
    .container {
        width: 90%;
        margin: 0 auto;
      }
    header {
        background-color: #5c3a6d;
        width: 100%;
        padding: 10px;
    }

    .ul {
        width: initial;
    }


    .ul li {
        display: none;

    }

    #xxx {
        border: none;
        outline: none;
        font-size: 20px;
        background-color: #734a88;
        appearance: none;
        color: aliceblue;
        border-radius: 40%;
        padding: 10px;
    }

    .logo img {
        width: 100px;
        margin-left: 10px;

    }

    .imgsss {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
    }


    .imgsss img {
        width: 90%;
        margin: 0;
    }
<<<<<<< HEAD

    .yozu {
        width: 100%;
        margin-top: 0px;
        padding: 0px;
      }

.p{
width: 100%;
font-size: unset;
}

.ota {
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
  }
  .boglansh h2 {
    margin-left: 0px;
    font-size: 34px;
    font-weight: 450;
  }
  .telrqm {
    flex-direction: column;
    margin-left: 0px;
  }



  .bobo {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    
  }


  .location {
    width: 100%;
    height: 100%;
  }
  .ijtimoiy {
    width: 100%;
    background: #5c3a6d;
    padding: 60px;
    color: white;
  }
=======
    .pro-container{
        width: 85%;
    }
    .card{
        width: 100%;
        flex-direction: column;
    }
    .pro-h1{
        margin: 30px 5px;
    }
>>>>>>> 68f0237e9c4cad323298a12f4bcff5f0bd55a26c
}