* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Golos, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth !important;
}



header {
  background-color: #5c3a6d;
  width: 100%;
  padding: 10px 40px;
  position: fixed;
  z-index: 1;
}
.logo{
transition: 0.5s;

}
.logo:hover{
  transform:scale(0.9);
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}


header nav ul li {
  list-style: none;
  color: aliceblue;
  cursor: pointer;
}

#xxx {
  border: none;
  outline: none;
  font-size: 25px;
  background-color: #734a88;
  appearance: none;
  color: aliceblue;
  border-radius: 40%;
  padding: 10px;
}

.imgsss{
width: 100%;


}

.imgsss img{
width: 22%;
margin: 30px 10px 0;
border-radius: 20px;
cursor: pointer;
margin: 100px 0 0 0;
}

.tel{
  border: none;
  font-size: 10;
  background-color: #734a88;
  color: aliceblue;
  border-radius: 40px;
  padding: 10px;
  transition: 0.5s;
}

.tel:hover{
transform:scale(0.9);


}

option {
  background-color: #734a88;
  border: #734a88;
  color: aliceblue;
}



.pro-container{
  width: 60%;
  margin: 0 auto;
}
.pro-h1{
  margin: 30px 15px;
  font-size: 2rem;
}
.projects{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 4px rgba(176, 173, 173, 0.484);
}
.card{
  width: 31%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 20px;
}
.card-img{
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
/* .card-body{
  box-shadow: 0 0 5px;
} */
.mini-p{
  color: #7E82A3;
  font-size: 0.9rem;
}
.card-food{
  padding: 10px;
  transition: 1s;
}
.card-food:hover .card-food.card-fh3 i{
  transform: translateX(-20px);
}
.card-fh3{
  padding: 20px;
  font-size: 1.1rem;
  text-align: center;
}
.mini{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0.3px solid rgba(148, 148, 148, 0.409);
}
.build{
  width: 55%;
  background-color: #7E82A3;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 7px;
}
.mini2{
  width: 45%;
}
.mini-h2{
  font-size: 1.3rem;
}
.mini-h3{
  font-size: 1.2rem;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.yozu {
  margin-top: 20px;
  padding: 100px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.biz {
  font-size: 34px;
}

.footer {
  background: #f5f6fa;
  width: 100%;
}

.ota {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.boglansh h2 {
  margin-left: 210px;
  font-size: 34px;
  font-weight: 400;
}

.telrqm {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}

.ariza {
  border-radius: 20px;
  background-color: rgb(88, 12, 120);
  color: white;
  padding: 17px;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}

#ism {
  border-radius: 20px;
  background: #f5f6fa;
  padding: 17px;
  font-weight: 500;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 2s;
}

#tel {
  margin-top: 10px;
  border-radius: 20px;
  background: #f5f6fa;
  padding: 17px;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.bobo {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 140px;
  margin-left: 70px;
}

.location {
  width: 50%;
  height: 100%;
}

.ijtimoiy {
  width: 50%;
  background: #5c3a6d;
  padding: 60px;
  color: white;
}

.nom {
  margin-top: 20px;
  margin-left: 66px;
  font-weight: 400;
  font-size: 20px;
}

.email {
  margin-left: 65px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}

.adress {
  margin-left: 65px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 5px;
}

.font {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 15px;
}

.font li {
  margin-left: 20px;
}

.p {
  font-size: 20px;
}
.yozu {
  margin-top: 20px;
  padding: 100px;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.biz {
  font-size: 34px;
}
.footer {
  background: #f5f6fa;
  width: 100%;
}
.ota {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.boglansh h2 {
  margin-left: 210px;
  font-size: 34px;
  font-weight: 400;
}
.telrqm {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
}
.ariza {
  border-radius: 20px;
  background-color: #5c3a6d;
  color: white;
  padding: 17px;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
}
#ism {
  border-radius: 20px;
  background: #f5f6fa;
  padding: 17px;
  font-weight: 500;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 2s;
}
#tel {
  margin-top: 10px;
  border-radius: 20px;
  background: #f5f6fa;
  padding: 17px;
  width: 300px;
  height: 55px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.bobo {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  position:relative; 
}
.logo img {
  width: 140px;
  margin-left: 70px;
}
.location {
  width: 50%;
  height: 100%;
}
.ijtimoiy {
  width: 50%;
  background: #5c3a6d;
  padding: 60px;
  color: white;
}
.nom {
  margin-top: 20px;
  margin-left: 66px;
  font-weight: 400;
  font-size: 20px;
}
.email {
  margin-left: 65px;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}
.adress {
  margin-left: 65px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 5px;
}
.font {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-left: 45px;
  margin-top: 15px;
}
.font li {
  margin-left: 20px;
}